*{
    padding: 0;
    margin:0;
}

body{
    background: url('assets/back.jpg');
    overflow: hidden;
}

h1{
    color: white;
    margin: 1%;
    position: absolute;
}

#peerDiv{
    background-color: teal;
    border-radius: 50%;
}

#myDiv{
    background-color: white;
    border-radius: 50%;
    transform: scale(0.4);
}