/* *{
    padding: 0;
    margin:0;
}

body{
    background: url('assets/back.jpg');
    
}

h1{
    color: white;
    
    position: absolute;
    background-color: teal;
    width: 72%;
    padding: 0;    
    
}
.head{
    background-color: teal;
}

#peerDiv{
    background-color: teal;
    border-radius: 50%;
}

#myDiv{
    background-color: white;
    border-radius: 50%;
    transform: scale(0.4);
} */


.main{
    transform: translateY(-15%);
}

.foot{
    transform: translateY(-170%);
}

